.CCAssistantLesson {
  --bottom-bar-height: 50px;
}

body.CCAssistantLesson_body {
  background-color: #152B39;
  color: #fafafa;
}

.CCAssistantLesson_contents {

}

.CCAssistantLesson_instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 19%;
  bottom: var(--bottom-bar-height);
  background-color: #fafafa;
  color: #000;
  overflow: auto;
}

.CCAssistantLesson_instructions_content {
  padding: 7px 10px;
}

.CCAssistantLesson_instructions_header {
  background-color: #D4D5D6;
  font-weight: 100 !important;
  padding: 10px !important;
}

.CCAssistantLesson_code {
  position: absolute;
  top: 0;
  left: 20%;
  width: 39%;
}

.CCAssistantLesson_terminal_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  bottom: var(--bottom-bar-height);
  overflow: auto;
}

.CCAssistantLesson_editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: var(--bottom-bar-height);
  left: 0;
}

.ReactBash {
  border-radius: 0px !important;
}

.ReactBash > div:first-child {
  display: none;
}

.CCAssistantLesson_actions {
  position: fixed;
  left: 0;
  bottom: 0;
  height: var(--bottom-bar-height - 10);
  width: 100%;
  background: #fafafa;
}

.CCAssistantLesson_actions .ui.button {
  border-radius: 0;
}

.CCAssistantLesson .ui.tabular.menu {
  border: none;
}

.CCAssistantLesson .ui.tabular.menu .item {
  border-radius: 0 !important;
  color: #fafafa;
}

.CCAssistantLesson .ui.tabular.menu .item.active {
  color: #232323;
}

.CCAssistantLesson_code_tab .ui.attached.tabular.menu {
  overflow-x: auto;
}
