.ui.vertical.menu .item {
  color: #62717E;
}

.dashboard-card {
  background-color: #fafafa;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  border: 1px solid rgba(81, 83, 85, 0.15);
}

.dashboard-card .ui.segment {
  box-shadow: none;
}

.dashboard-card-header {
  background-color: #fff;
  border-radius: .28571429rem;
}

.dashboard-card-header > h1.ui.header {
  padding: 12px 25px;
  font-weight: 100;
  font-size: 1.7em;
}

.dashboard-card-content {
  background-color: #fafafa;
  padding: 25px;
}

.dashboard-card-footer {
  background-color: #f1f1f1;
  padding: 12px 25px;
}
