.viz-history {
  background-color: #f5f2f0;
  margin-bottom: 20px;
  padding: 7px 12px;
  border-top: 3px solid rgb(226, 221, 219);
}

.viz-history-current {
  margin: 0;
  color: #525252;
}

.viz-history-options a.item {
  font-size: 11px !important;
}
