body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eaeaea;
}

.text-center {
  text-align: center;
}

.monospace-input .ui.input > input {
  font-family: monospace;
}

.light-heading {
  font-weight: 100 !important;
}

/* Visualization */

.viz-heading.ui.grid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.viz-heading-left h1.ui.header {
  font-size: 1.5em;
}
