body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eaeaea;
}

.hidden, [hidden] {
  display: none;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.light-heading {
  font-weight: 100 !important;
}

/* Dashboard */

.dashboard-content {
  padding: 30px 20px;
}

.dashboard-card {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  border: 1px solid rgba(81, 83, 85, 0.15);
}

.dashboard-card-header {
  background-color: #fff;
  border-radius: .28571429rem;
}

.dashboard-card-content {
  background-color: #fafafa;
  padding: 25px;
}

/* Visualization */

.viz-area {
  padding: 0px !important;
}

.viz-area-title {
  margin: 0 !important;
  background-color: #efefef;
  color: #505050 !important;
  border-radius: .28571429rem .28571429rem 0 0;
  font-weight: 100 !important;
  font-size: 1.1em !important;
  text-transform: uppercase !important;
  padding: 3px 4px !important;
}

.viz-heading.ui.grid {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.viz-heading-left h1.ui.header {
  font-size: 1.5em;
}
