.Stack {
  position: relative;
  height: 100%;
}

.Stack_wrapper {
  position: absolute;
  bottom: 40px;
  left: 5%;
  width: 90%;
}

.Stack_wrapper > div {
  background-color: #479BD4;
  color: #fafafa;
  font-weight: 900;
  font-family: monospace;
  font-size: 1.3em;
  padding: 10px 15px;
  text-align: center;
  margin-top: 6px;
}


